.Input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  color: dodgerblue;
}

.InputElement {
  outline: none;
  border: 1px solid dodgerblue;
  background-color: white;
  font: inherit;
  display: block;
  padding: 6px 10px;
  margin-top: 8px;
  width: 100%;
  box-sizing: border-box;
  color: dodgerblue;
}

.InputElement:focus {
  outline: none;
  background-color: white;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}