.Status {
  border: 1px solid rgb(255, 60, 0);
  background-color: white;
  color: rgb(255, 60, 0);
  font: inherit;
  font-style: italic;
  padding: 10px;
  margin-top: 36px;
  width: 100%;
  box-sizing: border-box;
}