.Auth {
	margin: 0px auto;
	width: 80%;
	text-align: center;
	box-shadow: 0 2px 3px #ccc;
	border: 1px solid #eee;
	padding: 10px;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.Auth {
		width: 500px;
	}
}

.TabButton {
	width: 50%;
	height: 50px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border: 1px solid #ccc;
	color: dodgerblue;
	font-size: 1.3rem;
	font-weight: bold;
}

.TabButton:hover,
.TabButton:active {
	cursor: pointer;
}

.TabButton:focus {
	outline:none !important;
}

.FormDiv {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}